//https://colors.artyclick.com/color-name-finder/
//quasar color
$primary: #027BE3;
$secondary: #26A69A;
$accent: #9C27B0;
$dark: #1D1D1D;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;
//yuno color
$yuno_light_text-color: #444444;
$yuno_light_bg: #EFF2F5;
$yuno_light_text_selected: #A5D6A7; //green-3
$yuno_light_border_select: 2px solid $primary;
$yuno_dark_text_color: #dddddd;
$yuno_dark_bg: #333333;
$yuno_dark_text_selected: #1B5E20; //green-10
$yuno_dark_border_select: 2px solid $primary;
//yuno style
$yuno_black_gradient_195: linear-gradient(195deg, #42424a, #191919);
$yuno_black_gradient_180: linear-gradient(180deg, #42424a, #191919);
//yuno bg
$yuno-mix-bg-black: linear-gradient(180deg, #42424a, #191919);
$yuno-mix-bg-white: linear-gradient(180deg, #d4d4d4, #d0d0d0);
$yuno-mix-bg-yellow: linear-gradient(180deg, #FB8C00, #FA8200);
$yuno-mix-bg-purple: linear-gradient(180deg, #DC301E, #DC2D19);
$yuno-mix-bg-green: linear-gradient(180deg, #32A032, #289628);
//yuno theme
$yuno-theme-black: $yuno_light_text-color;
$yuno-theme-green: #1B5E20; //green-10
$yuno-theme-blue: #1976D2; //blue-8
$yuno-theme-orange: #E65100; //orange-10;

//base
html, body, aside {
  margin: 0;
  font-family: Roboto Slab, sans-serif;
  transition: background-color 1s ease;
}

.yuno-dark-model {
  html, body, aside {
    color: $yuno_dark_text_color;
    background-color: $yuno_dark_bg;

    ::selection {
      background-color: $yuno_dark_text_selected;
    }
  }

  .footer {
    color: $yuno_dark_text_color;
  }
}

.yuno-light-model {
  html, body, aside {
    color: $yuno_light_text-color;
    background-color: $yuno_light_bg;

    ::selection {
      background-color: $yuno_light_text_selected;
    }
  }

  .footer {
    color: $yuno_light_text-color;
  }
}

//h4 {
//  margin: 0 0 1.2rem 0;
//}

h5 {
  font-weight: 600;
  margin: 0 0 .6rem 0;
}

h6 {
  font-weight: 550;
  font-size: 1rem;
  margin: 0 0 .3rem 0;
}

p {
  margin: 0 0 .3rem 0;
}
