//https://colors.artyclick.com/color-name-finder/
//quasar color
$primary: #027BE3;
$secondary: #26A69A;
$accent: #9C27B0;
$dark: #1D1D1D;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;
//yuno color
$yuno_light_text-color: #444444;
$yuno_light_bg: #EFF2F5;
$yuno_light_text_selected: #A5D6A7; //green-3
$yuno_light_border_select: 2px solid $primary;
$yuno_dark_text_color: #dddddd;
$yuno_dark_bg: #333333;
$yuno_dark_text_selected: #1B5E20; //green-10
$yuno_dark_border_select: 2px solid $primary;
//yuno style
$yuno_black_gradient_195: linear-gradient(195deg, #42424a, #191919);
$yuno_black_gradient_180: linear-gradient(180deg, #42424a, #191919);
//yuno bg
$yuno-mix-bg-black: linear-gradient(180deg, #42424a, #191919);
$yuno-mix-bg-white: linear-gradient(180deg, #d4d4d4, #d0d0d0);
$yuno-mix-bg-yellow: linear-gradient(180deg, #FB8C00, #FA8200);
$yuno-mix-bg-purple: linear-gradient(180deg, #DC301E, #DC2D19);
$yuno-mix-bg-green: linear-gradient(180deg, #32A032, #289628);
$yuno-mix-bg-blue: linear-gradient(180deg, #1976D2, #1070d0);
$yuno-mix-bg-orange: linear-gradient(180deg, #E65151, #E04040);
//yuno theme
$yuno-theme-black-focus: #020202;
$yuno-theme-black: #212121; //grey-10;
$yuno-theme-black-light: #424242; // grey-9
$yuno-theme-black-light-light: #616161; //grey-8
$yuno-theme-dark-focus-gra: linear-gradient(15deg, $yuno-theme-black-focus, $yuno-theme-black);
$yuno-theme-black-gra: linear-gradient(15deg, $yuno-theme-black, $yuno-theme-black-light);
$yuno-theme-black-light-gra: linear-gradient(15deg, $yuno-theme-black-light, $yuno-theme-black-light-light);

$yuno-theme-green: #1B5E20; //green-10
$yuno-theme-green-light: #2e7d32; //green-9
$yuno-theme-green-light-light: #388e3c; //green-8
$yuno-theme-green-mini: #c8e6c9; //green-2
$yuno-theme-green-gra: linear-gradient(15deg, $yuno-theme-green, $yuno-theme-green-light);
$yuno-theme-green-light-gra: linear-gradient(15deg, $yuno-theme-green-light, $yuno-theme-green-light-light);

$yuno-theme-blue: #1976D2; //blue-8
$yuno-theme-blue-light: #1e88e5; //blue-7
$yuno-theme-blue-light-light: #2196f3; //blue-6
$yuno-theme-blue-mini: #bbdefb; //blue-2
$yuno-theme-blue-gra: linear-gradient(15deg, $yuno-theme-blue, $yuno-theme-blue-light);
$yuno-theme-blue-light-gra: linear-gradient(15deg, $yuno-theme-blue-light, $yuno-theme-blue-light-light);

$yuno-theme-orange: #bf360c;
$yuno-theme-orange-light: #d84315;
$yuno-theme-orange-light-light: #e64a19;
$yuno-theme-orange-mini: #ffccbc; //deep-orange-2
$yuno-theme-orange-gra: linear-gradient(15deg, $yuno-theme-orange, $yuno-theme-orange);
$yuno-theme-orange-light-gra: linear-gradient(15deg, $yuno-theme-orange-light, $yuno-theme-orange-light-light);


//base
html, body, aside {
  margin: 0;
  font-family: Roboto Slab, sans-serif;
  transition: background-color 1s ease;
}

.yuno-dark-model {
  html, body, aside {
    color: $yuno_dark_text_color;
    background-color: $yuno_dark_bg;

    ::selection {
      background-color: $yuno_dark_text_selected;
    }
  }

  .footer {
    color: $yuno_dark_text_color;
  }
}

.yuno-light-model {
  html, body, aside {
    color: $yuno_light_text-color;
    background-color: $yuno_light_bg;

    ::selection {
      background-color: $yuno_light_text_selected;
    }
  }

  .footer {
    color: $yuno_light_text-color;
  }
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 0 1.2rem 0;
}

h4 {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0 0 1.2rem 0;
}

h5 {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 0 .6rem 0;
}

h6 {
  font-size: .95rem;
  margin: 0 0 .3rem 0;
}

p {
  margin: 0 0 .3rem 0;
}