@import "@/styles/base-style";
//============================== error page ==============================
.error-page-container {
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  width: 100%;

  .error-page-btn {
    background: hsla(0, 0%, 100%, .1) !important;
    border-radius: .5rem;
  }

  h1 {
    margin: 0 0 1rem 0;
    font-size: 5.25rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
  }

  h2 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.05rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.625;
    font-weight: 400;
  }
}

.error-page-mask {
  position: absolute;
  background-position: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.6;
  background-image: linear-gradient(195deg, #42424a, #191919)
}

@mixin error-page-main($url) {
  background-image: $url;
  background-size: cover;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.error-page-main-404 {
  @include error-page-main($url: url("@/assets/img/404-bg.jpg"))
}

.error-page-main-600 {
  @include error-page-main($url: url("@/assets/img/600-bg.jpg"))
}

.error-page-main-601 {
  @include error-page-main($url: url("@/assets/img/601-bg.jpg"))
}

//============================== common ==============================

.half-opacity {
  opacity: .5;
}

.border-selected {
  border: 2px solid $yuno_dark_text_color;
}

.mix-bg-black {
  color: $yuno_dark_text_color;
  background-image: $yuno-mix-bg-black;

  .q-separator {
    background-color: $yuno_dark_text_color;
  }
}

.mix-bg-black.border-selected {
  border: 2px solid $yuno_dark_text_color;
}

.mix-bg-black:after {
  opacity: .7;
  color: $yuno_dark_text_color;
  background-image: $yuno-mix-bg-black;
}

.mix-bg-white {
  color: $yuno_light_text-color;
  background-image: $yuno-mix-bg-white;

  .q-separator {
    background-color: $yuno_light_text-color;
  }
}

.mix-bg-white.border-selected {
  border: 2px solid $yuno_light_text-color;
}

.mix-bg-white:after {
  opacity: .7;
  color: $yuno_light_text-color;
  background-image: $yuno-mix-bg-white;
}

.mix-bg-yellow {
  color: $yuno_light_text-color;
  background-image: $yuno-mix-bg-yellow;

  .q-separator {
    background-color: $yuno_light_text-color;
  }
}

.mix-bg-yellow.border-selected {
  border: 2px solid $yuno_light_text-color;
}

.mix-bg-yellow:after {
  opacity: .7;
  color: $yuno_light_text-color;
  background-image: $yuno-mix-bg-yellow;
}

.mix-bg-purple {
  color: $yuno_dark_text_color;
  background-image: $yuno-mix-bg-purple;

  .q-separator {
    background-color: $yuno_dark_text_color;
  }
}

.mix-bg-purple.border-selected {
  border: 2px solid $yuno_dark_text_color;
}

.mix-bg-purple:after {
  opacity: .7;
  color: $yuno_dark_text_color;
  background-image: $yuno-mix-bg-purple;
}

.mix-bg-green {
  color: $yuno_dark_text_color;
  background-image: $yuno-mix-bg-green;

  .q-separator {
    background-color: $yuno_dark_text_color;
  }
}

.mix-bg-green.border-selected {
  border: 2px solid $yuno_dark_text_color;
}

.mix-bg-green:after {
  opacity: .7;
  color: $yuno_dark_text_color;
  background-image: $yuno-mix-bg-green;
}

.left-switch-drawer-bg-img1 {
  background-image: url("https://vue-material-dashboard-laravel-pro-bs4.creative-tim.com/img/sidebar-1.jpg");
  background-size: cover;
}

.left-switch-drawer-bg-img2 {
  background-image: url("https://vue-material-dashboard-laravel-pro-bs4.creative-tim.com/img/sidebar-2.jpg");
  background-size: cover;
}

.left-switch-drawer-bg-img3 {
  background-image: url("https://vue-material-dashboard-laravel-pro-bs4.creative-tim.com/img/sidebar-3.jpg");
  background-size: cover;
}

.left-switch-drawer-bg-img4 {
  background-image: url("https://vue-material-dashboard-laravel-pro-bs4.creative-tim.com/img/sidebar-4.jpg");
  background-size: cover;
}

//============================== main ==============================
.top-semi-trans-header {
  left: 0;
  right: 0;
  top: 20px;
  margin: 0 2rem;
  text-align: center;
  backdrop-filter: saturate(200%) blur(30px);
  border-radius: 15px;
  transition: background-color 1s ease, box-shadow 1s ease;

  .header-btn {
    padding: .5rem;
    margin: .2rem;
    border-radius: .5rem;
  }
}

.left-switch-drawer {
  height: 95%;
  width: 85%;
  padding: .5rem;
  border-radius: 1rem;
  transition: background-image 1s ease;
}

.left-switch-drawer:after {
  display: block;
  content: "";
  position: absolute;
  height: 95%;
  width: 85%;
  z-index: 2;
  top: 2.5%;
  left: 7.5%;
  border-radius: 1rem;
}

.right-overlay-drawer {
  padding: .5rem;
  background-color: transparent;
}

.breadcrumbs-el-link {
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbs-el-link-last {
  font-size: 1rem;
}

.yuno-dark-model {
  .base-drawer {
    color: $yuno_dark_text_color;
    background-color: $yuno_dark_bg;
  }

  .top-semi-trans-header {
    color: $yuno_dark_text_color;
    background-color: rgba(15, 15, 15, 0.6);
    box-shadow: inset 0 0 1px 1px rgba(1, 1, 1, 0.9), 0 20px 27px 0 rgba(255, 255, 255, 0.05);
  }

  .left-switch-drawer {
  }

  .right-overlay-drawer {
  }

  .yuno-label-text-color {
  }
}

.yuno-light-model {
  .base-drawer {
    color: $yuno_light_text-color;
    background-color: $yuno_light_bg;
  }

  .top-semi-trans-header {
    color: $yuno_light_text-color;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 1px 1px rgba(254, 254, 254, 0.9), 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  }

  .left-switch-drawer {
  }

  .right-overlay-drawer {
  }

  .yuno-label-text-color {
  }
}


