@import "@/styles/base-style";


@mixin astercasc-simple-btn($margin: 0, $min-height:2rem, $min-width:4rem,
$background-image: $yuno_black_gradient_195, $color: $yuno_dark_text_color) {
  margin: $margin;
  text-align: center;
  color: $color;
  min-height: $min-height;
  min-width: $min-width;
  background-image: $background-image;
  border-radius: 0.8rem;
}

@mixin astercasc-outline-btn($margin: 0, $min-height:2rem,
$min-width:4rem, $color: $yuno_light_text-color) {
  margin: $margin;
  text-align: center;
  color: $color;
  min-height: $min-height;
  min-width: $min-width;
  border-radius: 0.8rem;
}

.astercasc-outline-btn-margin-pri.q-btn--outline:before {
  border: 2px solid currentColor !important;
}

.astercasc-outline-btn-margin-pri-mid.q-btn--outline:before {
  border: 2px solid currentColor !important;
}

.astercasc-simple-quoted-title {
  font-size: 1.35rem;
  padding: .2rem .5rem;
  border-radius: 0 .8rem .8rem 0;
}

.astercasc-simple-table-pri {
  border-radius: .5rem;

  .q-table__bottom {
    font-size: .9rem;
    padding: 0.7rem 0 0 0;

    .astercasc-simple-table-bottom-pri {
      width: 100%;

      .q-pagination {

        .q-btn {
          padding: 0.1rem !important;
          min-height: .8rem !important;
        }
      }
    }

    .astercasc-simple-table-bottom-line {
      min-height: 1rem;
      margin-top: .5rem;
      border-radius: 0 0 .5rem .5rem
    }
  }

  .q-checkbox__inner--truthy .q-checkbox__bg {
    color: transparent;
  }

  .astercasc-header-checkbox {
    .q-checkbox__inner {
      color: $yuno_light_bg !important;
    }

    .q-checkbox__inner--truthy .q-checkbox__bg {
      color: $yuno_light_bg;
    }
  }

}

.astercasc-litter-title-asterisk {
  font-size: 1.05rem;
}

.astercasc-litter-title-asterisk::before {
  content: '*';
  color: red;
}

.astercasc-litter-asterisk {
  font-size: .95rem;
}

.astercasc-litter-asterisk::before {
  content: '*';
  color: red;
}


//.astercasc-dialog-frame-standard {
//  min-height: 20rem;
//  min-width: 20rem;
//  padding: 1rem;
//  @extend .astercasc-simple-card;
//}
