@import "@/styles/base-style";

//============================== light ==============================
.yuno-light-model {

  .astercasc-theme-black-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-black;
  }

  .astercasc-theme-black-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-green-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-green;
  }

  .astercasc-theme-green-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-blue-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-blue;
  }

  .astercasc-theme-blue-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-orange-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-orange;
  }

  .astercasc-theme-orange-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

}


.yuno-light-model.astercasc-theme-black {

  //============================== black ==============================

  .astercasc-theme-base {
    color: $yuno-theme-black;
  }

  .astercasc-theme-base.border-selected {
    border: 2px solid $yuno-theme-black;
  }

  .astercasc-theme-bg-op {
    color: white;
    opacity: .7;
    background-color: $yuno-theme-black;

    .q-separator {
      background-color: white;
    }

    .astercasc-theme-bg-focus {
      opacity: 1;
    }
  }

  .astercasc-theme-bg-enhance {
    $r: red($yuno-theme-black) * 0.5;
    $g: green($yuno-theme-black) * 0.5;
    $b: blue($yuno-theme-black) * 0.5;
    background-color: rgb($r, $g, $b);
  }

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-black) * 0.2;
    $g: green($yuno-theme-black) * 0.2;
    $b: blue($yuno-theme-black) * 0.2;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
    overflow: hidden;
  }

  .astercasc-theme-bg-focus::before {
    content: '';
    display: block;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image-source: linear-gradient(45deg, transparent 30%, white 50%, transparent 70%);
    border-image-slice: 1;
  }

  .astercasc-theme-radio {
    .q-radio__inner--truthy {
      color: $yuno-theme-black;
    }
  }

  .astercasc-theme-toggle {
    .q-toggle__inner--truthy {
      color: $yuno-theme-black;
    }
  }


}

.yuno-light-model.astercasc-theme-green {

  //============================== green ==============================
  .astercasc-theme-base {
    color: $yuno-theme-green;
  }

  .astercasc-theme-base.border-selected {
    border: 2px solid $yuno-theme-green;
  }

  .astercasc-theme-bg-op {
    color: white;
    opacity: .7;
    background-color: $yuno-theme-green;

    .q-separator {
      background-color: white;
    }

    .astercasc-theme-bg-focus {
      opacity: 1;
    }

  }

  .astercasc-theme-bg-enhance {
    $r: red($yuno-theme-green) * 0.6;
    $g: green($yuno-theme-green) * 0.7;
    $b: blue($yuno-theme-green) * 0.6;
    background-color: rgb($r, $g, $b);
  }

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-green) * 0.2;
    $g: green($yuno-theme-green) * 0.3;
    $b: blue($yuno-theme-green) * 0.2;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
    overflow: hidden;
  }

  .astercasc-theme-bg-focus::before {
    content: '';
    display: block;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image-source: linear-gradient(45deg, transparent 30%, white 50%, transparent 70%);
    border-image-slice: 1;
  }

  .astercasc-theme-radio {
    .q-radio__inner--truthy {
      color: $yuno-theme-green;
    }
  }

  .astercasc-theme-toggle {
    .q-toggle__inner--truthy {
      color: $yuno-theme-green;
    }
  }
}

  //============================== blue ==============================

.yuno-light-model.astercasc-theme-blue {

  .astercasc-theme-base {
    color: $yuno-theme-blue;
  }

  .astercasc-theme-base.border-selected {
    border: 2px solid $yuno-theme-blue;
  }

  .astercasc-theme-bg-op {
    color: white;
    opacity: .7;
    background-color: $yuno-theme-blue;

    .q-separator {
      background-color: white;
    }

    .astercasc-theme-bg-focus {
      opacity: 1;
    }
  }

  .astercasc-theme-bg-enhance {
    $r: red($yuno-theme-blue) * 0.8;
    $g: green($yuno-theme-blue) * 0.8;
    $b: blue($yuno-theme-blue) * 1;
    background-color: rgb($r, $g, $b);
  }

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-blue) * 0.2;
    $g: green($yuno-theme-blue) * 0.2;
    $b: blue($yuno-theme-blue) * 0.7;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
    overflow: hidden;
  }

  .astercasc-theme-bg-focus::before {
    content: '';
    display: block;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image-source: linear-gradient(45deg, transparent 30%, white 50%, transparent 70%);
    border-image-slice: 1;
  }

  .astercasc-theme-radio {
    .q-radio__inner--truthy {
      color: $yuno-theme-blue;
    }
  }

  .astercasc-theme-toggle {
    .q-toggle__inner--truthy {
      color: $yuno-theme-blue;
    }
  }

}

  //============================== orange ==============================

.yuno-light-model.astercasc-theme-orange {

  .astercasc-theme-base {
    color: $yuno-theme-orange;
  }

  .astercasc-theme-base.border-selected {
    border: 2px solid $yuno-theme-orange;
  }

  .astercasc-theme-bg-op {
    color: white;
    opacity: .7;
    background-color: $yuno-theme-orange;

    .q-separator {
      background-color: white;
    }

    .astercasc-theme-bg-focus {
      opacity: 1;
    }
  }

  .astercasc-theme-bg-enhance {
    $r: red($yuno-theme-orange) * 1;
    $g: green($yuno-theme-orange) * 0.5;
    $b: blue($yuno-theme-orange) * 1;
    background-color: rgb($r, $g, $b);
  }

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-orange) * 0.85;
    $g: green($yuno-theme-orange) * 0.4;
    $b: blue($yuno-theme-orange) * 0.85;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
    overflow: hidden;
  }

  .astercasc-theme-bg-focus::before {
    content: '';
    display: block;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image-source: linear-gradient(45deg, transparent 30%, white 50%, transparent 70%);
    border-image-slice: 1;
  }

  .astercasc-theme-radio {
    .q-radio__inner--truthy {
      color: $yuno-theme-orange;
    }
  }

  .astercasc-theme-toggle {
    .q-toggle__inner--truthy {
      color: $yuno-theme-orange;
    }
  }

}


//============================== dark ==============================

.yuno-dark-model {

  .astercasc-theme-black-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-black;
  }

  .astercasc-theme-black-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-green-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-green;
  }

  .astercasc-theme-green-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-blue-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-blue;
  }

  .astercasc-theme-blue-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }


  .astercasc-theme-orange-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-orange;
  }

  .astercasc-theme-orange-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-radio {
    .q-radio__inner--truthy {
      color: $yuno_dark_text_color !important;
    }
  }

  .astercasc-theme-toggle {
    .q-toggle__inner--truthy {
      color: $dark !important;
    }
  }


}

//============================== black ==============================
.yuno-dark-model.astercasc-theme-black {

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-black) * 0.2;
    $g: green($yuno-theme-black) * 0.2;
    $b: blue($yuno-theme-black) * 0.2;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
  }

}



  //============================== green ==============================
.yuno-dark-model.astercasc-theme-green {

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-green) * 0.2;
    $g: green($yuno-theme-green) * 0.7;
    $b: blue($yuno-theme-green) * 0.2;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
  }
}

  //============================== blue ==============================

.yuno-dark-model.astercasc-theme-blue {

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-blue) * 0.5;
    $g: green($yuno-theme-blue) * 0.5;
    $b: blue($yuno-theme-blue) * 0.7;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
  }
}

  //============================== orange ==============================
.yuno-dark-model.astercasc-theme-orange {

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-orange) * 0.85;
    $g: green($yuno-theme-orange) * 0.4;
    $b: blue($yuno-theme-orange) * 0.85;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
  }

}