@import "@/styles/base-style";
@import "@/styles/main-component-style";

//============================== light ==============================
.yuno-light-model {

  .astercasc-theme-black-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-black;
  }

  .astercasc-theme-black-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-green-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-green;
  }

  .astercasc-theme-green-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-blue-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-blue;
  }

  .astercasc-theme-blue-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-orange-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-orange;
  }

  .astercasc-theme-orange-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }


  .astercasc-input-inner-base {
    font-size: .9rem !important;
    color: $yuno_dark_bg !important;
    border-radius: .5rem !important;
    background-color: $yuno_dark_text_color !important;
    margin: .5rem !important;
    padding: 0 1rem !important;
  }

  .astercasc-simple-select-margin-pri {
    min-width: 10rem;
    background-color: $yuno_dark_text_color;
    border-radius: .5rem;
  }

  .astercasc-simple-select-margin-pri.q-field--standout.q-field--highlighted {
    .q-field__control {
      color: inherit;
      background-color: $yuno_dark_text_color;
    }

    .q-field__append {
      color: inherit;
    }

    .q-field__native {
      color: inherit;
    }
  }

  .astercasc-simple-card {
    border-radius: 1rem !important;
    color: $yuno_light_text-color !important;
    background-color: rgb(240, 240, 240, 0.8) !important;
    box-shadow: inset 0 0 1px 1px rgba(254, 254, 254, 0.9), 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
    backdrop-filter: saturate(200%) blur(30px) !important;

    .q-item--active {
      color: inherit !important;
    }
  }

  .astercasc-simple-card-outline {
    border-radius: 1rem !important;
    color: $yuno_light_text-color !important;
    background-color: rgb(240, 240, 240, 0.8) !important;
    box-shadow: inset 0 0 2px 2px rgba(88, 88, 88, 0.9), 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
    backdrop-filter: saturate(200%) blur(30px) !important;

    .q-item--active {
      color: inherit !important;
    }
  }

  .astercasc-dialog-frame-standard {
    @extend .astercasc-simple-card;

    .astercasc-input-inner-dense {
      color: #333 !important;
      background-color: #bbb !important;
    }

    .astercasc-input-inner-file {
      background-color: #bbb;

      .q-field__label {
        color: #333;
      }

      .q-field__native {
        color: #333;
      }

      .q-field__focusable-action {
        color: #333;
      }
    }

  }

  .astercasc-dialog-frame-big {
    background-color: $yuno_light_bg;
  }

}

//============================== black ==============================

.yuno-light-model.astercasc-theme-black {

  ::-webkit-scrollbar-thumb {
    background-color: $yuno-theme-black;
  }

  .astercasc-theme-base {
    color: $yuno-theme-black;
  }

  .astercasc-theme-base.border-selected {
    border: 2px solid $yuno-theme-black;
  }

  .astercasc-theme-bg-op {
    color: white;
    opacity: .7;
    background-color: $yuno-theme-black;

    .q-separator {
      background-color: white;
    }

    .astercasc-theme-bg-focus {
      opacity: 1;
    }
  }

  .astercasc-theme-bg-enhance {
    $r: red($yuno-theme-black) * 0.5;
    $g: green($yuno-theme-black) * 0.5;
    $b: blue($yuno-theme-black) * 0.5;
    background-color: rgb($r, $g, $b);
  }

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-black) * 0.2;
    $g: green($yuno-theme-black) * 0.2;
    $b: blue($yuno-theme-black) * 0.2;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
    overflow: hidden;
  }

  .astercasc-theme-bg-focus::before {
    content: '';
    display: block;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image-source: linear-gradient(45deg, transparent 30%, white 50%, transparent 70%);
    border-image-slice: 1;
  }

  .astercasc-theme-radio {
    .q-radio__inner--truthy {
      color: $yuno-theme-black;
    }
  }

  .astercasc-theme-toggle {
    .q-toggle__inner--truthy {
      color: $yuno-theme-black;
    }
  }

  .astercasc-simple-btn-margin-pri {
    @include astercasc-simple-btn(0rem, 2.5rem, 6rem, $yuno-theme-black-gra)
  }

  .astercasc-simple-btn-margin-pri-mid {
    @include astercasc-simple-btn(0rem, 2.2rem, 5rem, $yuno-theme-black-gra)
  }

  .astercasc-outline-btn-margin-pri {
    @include astercasc-outline-btn(0rem, 2.5rem, 6rem, $yuno-theme-black)
  }

  .astercasc-outline-btn-margin-pri-mid {
    @include astercasc-outline-btn(0rem, 2.2rem, 5rem, $yuno-theme-black)
  }

  .astercasc-simple-table-pri {
    background-color: $yuno_dark_text_color;
    color: $yuno_dark_bg;

    .astercasc-simple-table-header-pri {
      background-image: $yuno-theme-black-gra;
      color: $yuno_light_bg;
    }

    .q-table__bottom {
      background-color: $yuno_dark_text_color;
      color: $yuno_light_text-color;

      .astercasc-simple-table-bottom-pri {
        color: $yuno-theme-black;

        .astercasc-simple-table-bottom-selected-contain {
          color: white;
          background-color: $yuno-theme-black;
        }

        .astercasc-simple-table-bottom-line {
          background-image: $yuno-theme-black-gra;
        }

        .q-pagination {
          .bg-primary {
            background-color: $yuno-theme-black !important;
          }

          .text-primary {
            color: $yuno-theme-black !important;
          }
        }
      }
    }

    .q-checkbox__inner {
      color: $yuno-theme-black;
    }

    .q-checkbox__svg {
      color: $yuno-theme-black;
    }

    .astercasc-header-checkbox {
      .q-checkbox__svg {
        color: $yuno-theme-black !important;
      }
    }
  }

  .astercasc-simple-quoted-title {
    background-color: $yuno_dark_text_color;
    color: $yuno-theme-black;
    border-left: 5px solid $yuno-theme-black;
  }

  .astercasc-announcement-in-page {
    background-color: $yuno_dark_text_color;
    color: $yuno-theme-black;
  }

}


//============================== green ==============================

.yuno-light-model.astercasc-theme-green {

  ::-webkit-scrollbar-thumb {
    background-color: $yuno-theme-green;
  }

  .astercasc-theme-base {
    color: $yuno-theme-green;
  }

  .astercasc-theme-base.border-selected {
    border: 2px solid $yuno-theme-green;
  }

  .astercasc-theme-bg-op {
    color: white;
    opacity: .7;
    background-color: $yuno-theme-green;

    .q-separator {
      background-color: white;
    }

    .astercasc-theme-bg-focus {
      opacity: 1;
    }

  }

  .astercasc-theme-bg-enhance {
    $r: red($yuno-theme-green) * 0.6;
    $g: green($yuno-theme-green) * 0.7;
    $b: blue($yuno-theme-green) * 0.6;
    background-color: rgb($r, $g, $b);
  }

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-green) * 0.2;
    $g: green($yuno-theme-green) * 0.3;
    $b: blue($yuno-theme-green) * 0.2;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
    overflow: hidden;
  }

  .astercasc-theme-bg-focus::before {
    content: '';
    display: block;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image-source: linear-gradient(45deg, transparent 30%, white 50%, transparent 70%);
    border-image-slice: 1;
  }

  .astercasc-theme-radio {
    .q-radio__inner--truthy {
      color: $yuno-theme-green;
    }
  }

  .astercasc-theme-toggle {
    .q-toggle__inner--truthy {
      color: $yuno-theme-green;
    }
  }

  .astercasc-simple-btn-margin-pri {
    @include astercasc-simple-btn(0rem, 2.5rem, 6rem, $yuno-theme-green-gra)
  }

  .astercasc-simple-btn-margin-pri-mid {
    @include astercasc-simple-btn(0rem, 2.2rem, 5rem, $yuno-theme-green-gra)
  }

  .astercasc-outline-btn-margin-pri {
    @include astercasc-outline-btn(0rem, 2.5rem, 6rem, $yuno-theme-green)
  }

  .astercasc-outline-btn-margin-pri-mid {
    @include astercasc-outline-btn(0rem, 2.2rem, 5rem, $yuno-theme-green)
  }

  .astercasc-simple-table-pri {
    background-color: $yuno_dark_text_color;
    color: $yuno_dark_bg;

    .astercasc-simple-table-header-pri {
      background-image: $yuno-theme-green-gra;
      color: $yuno_light_bg;
    }

    .q-table__bottom {
      background-color: $yuno_dark_text_color;
      color: $yuno_light_text-color;

      .astercasc-simple-table-bottom-pri {
        color: $yuno-theme-green;

        .astercasc-simple-table-bottom-selected-contain {
          color: white;
          background-color: $yuno-theme-green;
        }

        .astercasc-simple-table-bottom-line {
          background-image: $yuno-theme-green-gra;
        }

        .q-pagination {
          .bg-primary {
            background-color: $yuno-theme-green !important;
          }

          .text-primary {
            color: $yuno-theme-green !important;
          }
        }
      }
    }

    .q-checkbox__inner {
      color: $yuno-theme-green;
    }

    .q-checkbox__svg {
      color: $yuno-theme-green;
    }

    .astercasc-header-checkbox {
      .q-checkbox__svg {
        color: $yuno-theme-green !important;
      }
    }
  }

  .astercasc-simple-quoted-title {
    background-color: $yuno_dark_text_color;
    color: $yuno-theme-green;
    border-left: 5px solid $yuno-theme-green;
  }

  .astercasc-announcement-in-page {
    background-color: $yuno_dark_text_color;
    //background-color: $yuno-theme-green-mini;
    color: $yuno-theme-green;
  }


}

  //============================== blue ==============================

.yuno-light-model.astercasc-theme-blue {

  ::-webkit-scrollbar-thumb {
    background-color: $yuno-theme-blue;
  }

  .astercasc-theme-base {
    color: $yuno-theme-blue;
  }

  .astercasc-theme-base.border-selected {
    border: 2px solid $yuno-theme-blue;
  }

  .astercasc-theme-bg-op {
    color: white;
    opacity: .7;
    background-color: $yuno-theme-blue;

    .q-separator {
      background-color: white;
    }

    .astercasc-theme-bg-focus {
      opacity: 1;
    }
  }

  .astercasc-theme-bg-enhance {
    $r: red($yuno-theme-blue) * 0.8;
    $g: green($yuno-theme-blue) * 0.8;
    $b: blue($yuno-theme-blue) * 1;
    background-color: rgb($r, $g, $b);
  }

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-blue) * 0.2;
    $g: green($yuno-theme-blue) * 0.2;
    $b: blue($yuno-theme-blue) * 0.7;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
    overflow: hidden;
  }

  .astercasc-theme-bg-focus::before {
    content: '';
    display: block;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image-source: linear-gradient(45deg, transparent 30%, white 50%, transparent 70%);
    border-image-slice: 1;
  }

  .astercasc-theme-radio {
    .q-radio__inner--truthy {
      color: $yuno-theme-blue;
    }
  }

  .astercasc-theme-toggle {
    .q-toggle__inner--truthy {
      color: $yuno-theme-blue;
    }
  }

  .astercasc-simple-btn-margin-pri {
    @include astercasc-simple-btn(0rem, 2.5rem, 6rem, $yuno-theme-blue-gra)
  }

  .astercasc-simple-btn-margin-pri-mid {
    @include astercasc-simple-btn(0rem, 2.2rem, 5rem, $yuno-theme-blue-gra)
  }

  .astercasc-outline-btn-margin-pri {
    @include astercasc-outline-btn(0rem, 2.5rem, 6rem, $yuno-theme-blue)
  }

  .astercasc-outline-btn-margin-pri-mid {
    @include astercasc-outline-btn(0rem, 2.2rem, 5rem, $yuno-theme-blue)
  }

  .astercasc-simple-table-pri {
    background-color: $yuno_dark_text_color;
    color: $yuno_dark_bg;

    .astercasc-simple-table-header-pri {
      background-image: $yuno-theme-blue-gra;
      color: $yuno_light_bg;
    }

    .q-table__bottom {
      background-color: $yuno_dark_text_color;
      color: $yuno_light_text-color;

      .astercasc-simple-table-bottom-pri {
        color: $yuno-theme-blue;

        .astercasc-simple-table-bottom-selected-contain {
          color: white;
          background-color: $yuno-theme-blue;
        }

        .astercasc-simple-table-bottom-line {
          background-image: $yuno-theme-blue-gra;
        }

        .q-pagination {
          .bg-primary {
            background-color: $yuno-theme-blue !important;
          }

          .text-primary {
            color: $yuno-theme-blue !important;
          }
        }
      }
    }

    .q-checkbox__inner {
      color: $yuno-theme-blue;
    }

    .q-checkbox__svg {
      color: $yuno-theme-blue;
    }

    .astercasc-header-checkbox {
      .q-checkbox__svg {
        color: $yuno-theme-blue !important;
      }
    }
  }

  .astercasc-simple-quoted-title {
    background-color: $yuno_dark_text_color;
    color: $yuno-theme-blue;
    border-left: 5px solid $yuno-theme-blue;
  }

  .astercasc-announcement-in-page {
    background-color: $yuno_dark_text_color;
    //background-color: $yuno-theme-blue-mini;
    color: $yuno-theme-blue;
  }


}

  //============================== orange ==============================

.yuno-light-model.astercasc-theme-orange {

  ::-webkit-scrollbar-thumb {
    background-color: $yuno-theme-orange;
  }

  .astercasc-theme-base {
    color: $yuno-theme-orange;
  }

  .astercasc-theme-base.border-selected {
    border: 2px solid $yuno-theme-orange;
  }

  .astercasc-theme-bg-op {
    color: white;
    opacity: .7;
    background-color: $yuno-theme-orange;

    .q-separator {
      background-color: white;
    }

    .astercasc-theme-bg-focus {
      opacity: 1;
    }
  }

  .astercasc-theme-bg-enhance {
    $r: red($yuno-theme-orange) * 1;
    $g: green($yuno-theme-orange) * 0.5;
    $b: blue($yuno-theme-orange) * 1;
    background-color: rgb($r, $g, $b);
  }

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-orange) * 0.85;
    $g: green($yuno-theme-orange) * 0.4;
    $b: blue($yuno-theme-orange) * 0.85;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
    overflow: hidden;
  }

  .astercasc-theme-bg-focus::before {
    content: '';
    display: block;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image-source: linear-gradient(45deg, transparent 30%, white 50%, transparent 70%);
    border-image-slice: 1;
  }

  .astercasc-theme-radio {
    .q-radio__inner--truthy {
      color: $yuno-theme-orange;
    }
  }

  .astercasc-theme-toggle {
    .q-toggle__inner--truthy {
      color: $yuno-theme-orange;
    }
  }

  .astercasc-simple-btn-margin-pri {
    @include astercasc-simple-btn(0rem, 2.5rem, 6rem, $yuno-theme-orange-gra)
  }

  .astercasc-simple-btn-margin-pri-mid {
    @include astercasc-simple-btn(0rem, 2.2rem, 5rem, $yuno-theme-orange-gra)
  }

  .astercasc-outline-btn-margin-pri {
    @include astercasc-outline-btn(0rem, 2.5rem, 6rem, $yuno-theme-orange)
  }

  .astercasc-outline-btn-margin-pri-mid {
    @include astercasc-outline-btn(0rem, 2.2rem, 5rem, $yuno-theme-orange)
  }

  .astercasc-simple-table-pri {
    background-color: $yuno_dark_text_color;
    color: $yuno_dark_bg;

    .astercasc-simple-table-header-pri {
      background-image: $yuno-theme-orange-gra;
      color: $yuno_light_bg;
    }

    .q-table__bottom {
      background-color: $yuno_dark_text_color;
      color: $yuno_light_text-color;

      .astercasc-simple-table-bottom-pri {

        color: $yuno-theme-orange;

        .astercasc-simple-table-bottom-selected-contain {
          color: white;
          background-color: $yuno-theme-orange;
        }

        .astercasc-simple-table-bottom-line {
          background-image: $yuno-theme-orange-gra;
        }

        .q-pagination {
          .bg-primary {
            background-color: $yuno-theme-orange !important;
          }

          .text-primary {
            color: $yuno-theme-orange !important;
          }
        }
      }
    }

    .q-checkbox__inner {
      color: $yuno-theme-orange;
    }

    .q-checkbox__svg {
      color: $yuno-theme-orange;
    }

    .astercasc-header-checkbox {
      .q-checkbox__svg {
        color: $yuno-theme-orange !important;
      }
    }
  }

  .astercasc-simple-quoted-title {
    background-color: $yuno_dark_text_color;
    color: $yuno-theme-orange;
    border-left: 5px solid $yuno-theme-orange;
  }

  .astercasc-announcement-in-page {
    background-color: $yuno_dark_text_color;
    //background-color: $yuno-theme-orange-mini;
    color: $yuno-theme-orange;
  }

}


//============================== dark ==============================

.yuno-dark-model {

  ::-webkit-scrollbar-thumb {
    background-color: $yuno_dark_text_color;
  }

  .astercasc-theme-black-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-black;
  }

  .astercasc-theme-black-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-green-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-green;
  }

  .astercasc-theme-green-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-blue-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-blue;
  }

  .astercasc-theme-blue-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }


  .astercasc-theme-orange-doc {
    color: $yuno_dark_text_color;
    background-color: $yuno-theme-orange;
  }

  .astercasc-theme-orange-doc.border-selected {
    border: 2px solid $yuno_dark_text_color;
  }

  .astercasc-theme-radio {
    .q-radio__inner--truthy {
      color: $yuno_dark_text_color !important;
    }
  }

  .astercasc-theme-toggle {
    .q-toggle__inner--truthy {
      color: $dark !important;
    }
  }

  .astercasc-input-inner-base {
    font-size: .9rem !important;
    color: $yuno_light_bg !important;
    border-radius: .5rem !important;
    background-color: $yuno_light_text-color !important;
    margin: .5rem !important;
    padding: 0 1rem !important;
  }

  .astercasc-simple-select-margin-pri {
    min-width: 10rem;
    background-color: $yuno_light_text-color;
    border-radius: .5rem;
  }

  .astercasc-simple-select-margin-pri.q-field--standout.q-field--highlighted {
    .q-field__control {
      color: $yuno_dark_text_color;
      background-color: $yuno_light_text-color;
    }

    .q-field__append {
      color: $yuno_dark_text_color;
    }

    .q-field__native {
      color: $yuno_dark_text_color;
    }
  }

  .astercasc-simple-select-margin-pri.q-field--standout {
    .q-field__label {
      color: $yuno_dark_text_color;
    }

    .q-field__append {
      color: $yuno_dark_text_color;
    }

    .q-field__native {
      color: $yuno_dark_text_color;
    }
  }

  .astercasc-simple-card {
    border-radius: 1rem !important;
    color: $yuno_dark_text_color !important;
    background-color: rgba(15, 15, 15, .9);
    box-shadow: inset 0 0 1px 1px rgba(1, 1, 1, 0.9), 0 20px 27px 0 rgba(255, 255, 255, 0.05);
    backdrop-filter: saturate(200%) blur(30px) !important;

    .q-item--active {
      color: inherit !important;
    }
  }

  .astercasc-simple-card-outline {
    border-radius: 1rem !important;
    color: $yuno_dark_text_color !important;
    background-color: rgba(15, 15, 15, .9);
    box-shadow: inset 0 0 1px 1px rgba(1, 1, 1, 0.9), 0 20px 27px 0 rgba(255, 255, 255, 0.05);
    backdrop-filter: saturate(200%) blur(30px) !important;

    .q-item--active {
      color: inherit !important;
    }
  }

  .astercasc-dialog-frame-standard {
    @extend .astercasc-simple-card;

    .astercasc-simple-btn-margin-pri {
      @include astercasc-simple-btn(0rem, 2.5rem, 6rem, $yuno-theme-black-light-gra)
    }

    .astercasc-simple-btn-margin-pri-mid {
      @include astercasc-simple-btn(0rem, 2.2rem, 5rem, $yuno-theme-black-light-gra)
    }

    .astercasc-input-inner-dense {
      color: $yuno_light_bg !important;
      background-color: $yuno_light_text-color !important;
    }

    .astercasc-input-inner-file {
      background-color: $yuno_light_text-color;

      .q-field__label {
        color: $yuno_dark_text_color;
      }

      .q-field__native {
        color: $yuno_dark_text_color;
      }

      .q-field__focusable-action {
        color: $yuno_dark_text_color;
      }
    }
  }

  .astercasc-dialog-frame-big {
    background-color: $yuno_dark_bg;
  }

  .astercasc-simple-btn-margin-pri {
    @include astercasc-simple-btn(0rem, 2.5rem, 6rem, $yuno-theme-dark-focus-gra)
  }

  .astercasc-simple-btn-margin-pri-mid {
    @include astercasc-simple-btn(0rem, 2.2rem, 5rem, $yuno-theme-dark-focus-gra)
  }

  .astercasc-outline-btn-margin-pri {
    @include astercasc-outline-btn(0rem, 2.5rem, 6rem, $yuno_dark_text_color)
  }

  .astercasc-outline-btn-margin-pri-mid {
    @include astercasc-outline-btn(0rem, 2.2rem, 5rem, $yuno_dark_text_color)
  }


  .astercasc-simple-table-pri {
    background-color: $yuno_dark_bg;
    color: $yuno_dark_text_color;

    .astercasc-simple-table-header-pri {
      background-image: $yuno-theme-dark-focus-gra;
      color: $yuno_dark_text_color;
    }

    .q-table__bottom {
      background-color: $yuno_dark_bg;
      color: $yuno_dark_text_color;

      .astercasc-simple-table-bottom-pri {
        color: $yuno_dark_text_color;

        .astercasc-simple-table-bottom-selected-contain {
          color: $yuno_dark_bg;
          background-color: $yuno_dark_text_color;
        }

        .astercasc-simple-table-bottom-line {
          background-image: $yuno-theme-dark-focus-gra;
        }

        .q-pagination {
          .bg-primary {
            color: $yuno_dark_bg !important;
            background-color: $yuno_dark_text_color !important;
          }

          .text-primary {
            color: $yuno_dark_text_color !important;
          }
        }
      }
    }

    .q-checkbox__inner {
      color: $yuno_dark_text_color;
    }

    .q-checkbox__svg {
      color: $yuno_dark_text_color;
    }

    .astercasc-header-checkbox {
      .q-checkbox__svg {
        color: $yuno_dark_text_color !important;
      }

      .q-checkbox__bg {
        color: $yuno_dark_text_color;
      }

      .q-checkbox__inner--truthy .q-checkbox__bg {
        color: $yuno-theme-black-focus;
      }

      .q-checkbox__inner--indet .q-checkbox__bg {
        color: $yuno-theme-black-focus;
      }

    }
  }

  .astercasc-announcement-in-page {
    background-color: $yuno-theme-black-focus;
    color: $yuno_dark_text_color;
  }


}

//============================== black ==============================
.yuno-dark-model.astercasc-theme-black {

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-black) * 0.2;
    $g: green($yuno-theme-black) * 0.2;
    $b: blue($yuno-theme-black) * 0.2;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
  }

}



  //============================== green ==============================
.yuno-dark-model.astercasc-theme-green {

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-green) * 0.2;
    $g: green($yuno-theme-green) * 0.7;
    $b: blue($yuno-theme-green) * 0.2;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
  }
}

  //============================== blue ==============================

.yuno-dark-model.astercasc-theme-blue {

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-blue) * 0.5;
    $g: green($yuno-theme-blue) * 0.5;
    $b: blue($yuno-theme-blue) * 0.7;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
  }
}

  //============================== orange ==============================
.yuno-dark-model.astercasc-theme-orange {

  .astercasc-theme-bg-focus {
    $r: red($yuno-theme-orange) * 0.85;
    $g: green($yuno-theme-orange) * 0.4;
    $b: blue($yuno-theme-orange) * 0.85;
    color: white;
    background-color: rgb($r, $g, $b);
    opacity: .7;
  }

}